@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
}

body {
	background-color: #a8daff;
	font-family: Open Sans;
}

#head {
	background-color: #42b0ff;
	padding: 30px;
	text-align: center;
}

#nav {
	float: left;
	height: 60em;
	background-color: #add8e6;
	padding: 20px;
}

#article {
	float: right;
	padding: 20px;
	height: 60em;
	background-color: #f1f1f1;
}

#article:after {
  content: "";
  display: table;
  clear: both;
}

#foot {
	background-color: #42b0ff;
	text-align: center;
	padding: 20px;
}

#floatbox {
	position: fixed;
	bottom: 15px;
	right: 15px;
	background-color: #f4d1ff;
	padding: 10px;
	width: 150px;
}
